<div class="container">
	<div id="main-grid" class="row">
		<div id="primary" class="content-area col-md-8">
			<main id="main" class="site-main" role="main">	
				<article id="post-487" class="post-{{page_ID}} page type-page status-publish hentry">
					<div class="entry-content response-content" ng-bind-html="PrivacyPolicy.page_content"></div><!-- .entry-content -->
				</article><!-- #post-## -->
			</main><!-- #main -->
		</div><!-- #primary -->
	</div><!-- .row -->
</div><!-- .container -->
